:root {
  --apple-darker: black;
  --apple-lighter: white;
  --apple-gray-800: rgb(39, 39, 39);
  --apple-gray-500: gray;
  --apple-gray-100: #e2e4e7;
  --apple-gray-200: #ababab;
  --apple-gray-300: #878787;
  --apple-primary: #0071E3;
  --apple-primary-light: #2A97FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--apple-darker);
  color: var(--apple-lighter);
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

section {
  padding: 8rem 0;
}

a {
  color: var(--apple-gray-500);
  text-decoration: none;
  transition: all 0.25s ease;

  &:hover {
    color: var(--apple-lighter);
  }
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: auto;
}

.btn {
  padding: 1rem 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: var(--apple-primary);
  border: 1px solid transparent;
  color: var(--apple-gray-100);
  border-radius: 20px;

  &:hover {
    background-color: transparent;
    border: 1px solid var(--apple-primary);
    color: var(--apple-primary);
  }
}